.phoneHome {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $black;

    &-apps {
        width: 100%;
        max-width: 280px;
        margin: 80px 0;
        padding: 0 20px;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 30px 30px; 
        list-style: none;
    }

    &-date {
        @include subtitle(72px);
        margin: 80px 0 0;
    } 

    &-app { 
    }

    &-link {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
    }

    &-libelle {
        @include subtitle(12px);
        margin: 8px 0 0;
    }

    &-icon {
        position: relative;
    }

}