.battle--mobile {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .battle-head {
    position: relative;
    padding: 0 20px;
    width: 100%;
    top: 0;
    &--icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    &--title{
      @include stickerFont(20px, 26px);
      margin: 24px 0 0;
      position: relative;
      z-index: 2;
    }
    &--separator {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: white;
      opacity: 0.4;
      height: 2px;
    }
    &--intro{
      margin: 8px 0 18px;
      position: relative;
      z-index: 4;
      p {
        @include text(16px, 20px, $white, 500);
        font-style: italic;
      }
    }
  }
  .timer{
    margin-top: auto;
    margin-bottom: 10px;
    padding: 0 20px;
    width: 100%;
    &-indicator {
      display: table;
      padding: 5px;
      background: white;
      border-radius: 4px;
    }
    &-gauge{
      width: 100%;
      padding: 5px;
      background: white;
      border-radius: 4px;
      display: flex;
      span {
        display: block;
        width: 100%;
        height: 2px;
        background: $green;
        border-radius: 4px;
      }
    }
  }
}
