
@mixin text($size, $line_height: 1.2, $color: $black) {
	font-family: "DMSans";
	font-size: $size;
	line-height: $line_height;
	color: $color;
}
// desktop()
//   @media (max-width: 1200px)
//     {block}
// tablet()
//   @media (max-width: 768px)
//     {block}
// mobile()
//   @media (max-width: 425px)
//     {block}
