@font-face {
	font-family: "Kenoky";
	src: url("../../static/fonts/KENOKY-Normal.woff2") format("woff2");
	font-family: "SofiaPro";
	src: url("../../static/fonts/SofiaPro-Regular.woff") format("woff");
}

// desktop()
//   @media (max-width: 1200px)
//     {block}
// tablet()
//   @media (max-width: 768px)
//     {block}
// mobile()
//   @media (max-width: 425px)
//     {block}
