.chat {
  position: relative;
  display: flex;
  z-index: 10;
  width: 100%;
  max-width: 1000px;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-infos {
    display: flex;
    align-items: center;
    position: relative;
    left: -20px;

    &--pic {
      width: 110px;
      height: 110px;
      padding: 15px;
      background-color: #ffc0cb;
      border-radius: 50%;
    }
    &--img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &--name {
      font-size: 30px;
      color: #000;
      position: relative;
      padding: 17px 20px;
      &::after {
        content: "";
        width: calc(100% + 40px);
        height: 100%;
        position: absolute;
        top: 0;
        left: -30px;
        z-index: -1;
        background-color: #fff;
        border-radius: 37px;
      }
    }

   
  }
  &-text {
    padding: 30px 35px;
    background-color: #fff;
    border-radius: 30px;
    p {
      @include text(24px);
    }
    strong {
      @include text(24px, 1.2, $darkGrey, 700);
    }
  }
  &-choices {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
