.choices {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  &__item {
    width: 300px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    &--selected {
      background: green;
      span {
        color: white;
      }
    }
    span {
      pointer-events: none;
    }
  }
  &__validate {
    padding: 20px;
    background: white;
    margin-top: 20px;
  }
}
