.loader {
	z-index: 101;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: #2f3640;
	display: flex;
	align-items: center;
  justify-content: center;

  //&__line {
  //  position: absolute;
  //  top: 50%;
  //  transform: translateY(-50%);
  //  left: 120px;
  //  max-width: 150px;
  //  height: 1px;
  //  background: #000;
  //}
  //&__percentWrapper {
  //  position: absolute;
  //  top: 50%;
  //  transform: translateY(-50%);
  //  left: 60px;
  //}

}
