.loader {
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/paper-textur.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-sticker {
    background-color: $purple;
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 200px;
    display: block;
  }

  &-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include rotation(1s, translate(-50%, -50%))
  }

  &-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Panchang-Bold";
    font-size: 30px;
    line-height: 0;
    text-shadow: 4px 4px 0 $purple_dark, 4px -4px 0 $purple_dark, -4px 4px 0 $purple_dark, -4px -4px 0 $purple_dark,
      4px 0px 0 $purple_dark, 0px 4px 0 $purple_dark, -4px 0px 0 $purple_dark, 0px -4px 0 $purple_dark;
    color: $white;
  }
}
