.navigation {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;

  &-icon {
    @include text(18px);
    color: red;
    z-index: 1001;
    padding: 20px;
    cursor: pointer;
    position: relative;
    pointer-events: all;
    opacity: 0;
  }

  &-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
  }

  @media screen and (max-width: 800px) {
    & {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;
    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__items {
    margin: 20px;
    a {
      display: block;
      text-decoration: none;
      @include text(28px);

      pointer-events: all;
    }
  }
}
