.navigation
  display flex
  padding 30px 60px
  &__logo
    margin-right: auto
    a
      text-decoration none
      text-transform uppercase
  &__items
    a
      display block
      text-decoration none
      line-height 1.3
