$darkGrey: #736E75;

/** COLORS **/
$black: #151515;
$white: #ffffff;
$green: #22D175;
$green_dark: #02BA59;
$yellow: #EDCC50;
$yellow_dark: #E7BC18;
$red: #ED6787;
$red_dark: #D84367;
$purple: #7C44ED;
$purple_dark: #6330CA;

/** FONT **/
@font-face {
	font-family: "DMSans";
	src: url("../../static/font/dm-sans-v11-latin-regular.woff") format("woff"),
	url("../../static/font/dm-sans-v11-latin-regular.woff2") format("woff2"),
}
@font-face {
	font-family: "Panchang-Extrabold";
    font-weight: 700;
	src: url("../../static/font/Panchang-Extrabold.woff") format("woff"),
	url("../../static/font/Panchang-Extrabold.woff2") format("woff2"),
}
@font-face {
	font-family: "Panchang-Bold";
    font-weight: 700;
	src: url("../../static/font/Panchang-Bold.woff") format("woff"),
	url("../../static/font/Panchang-Bold.woff2") format("woff2"),
}
@font-face {
    font-family: "Panchang-Semibold";
    font-weight: 600;
	src: url("../../static/font/Panchang-Semibold.woff") format("woff"),
	url("../../static/font/Panchang-Semibold.woff2") format("woff2"),
}
@font-face {
    font-family: "Vollkorn-medium";
    font-weight: 500;
	src: url("../../static/font/Vollkorn-500.woff") format("woff"),
	url("../../static/font/Vollkorn-500.woff2") format("woff2"),
}

/* SVG */
$arrow: "data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='11' transform='matrix(-1 0 0 1 12 12)' fill='%23FEFEFE' stroke='%23E7BC18' stroke-width='2'/%3E%3Cpath d='M13.25 17L9.5 12L13.25 7' stroke='%23E7BC18' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A";
