$darkGrey: #736E75;

/** COLORS **/
$black: #151515;
$white: #ffffff;
$green: #22D175;
$yellow: #EDCC50;
$red: #ED6787;
$purple: #7C44ED;

/** FONT **/
@font-face {
	font-family: "DMSans";
	src: url("../../static/fonts/dm-sans-v11-latin-regular.woff") format("woff"),
	url("../../static/fonts/dm-sans-v11-latin-regular.woff2") format("woff2"),
}
@font-face {
	font-family: "Panchang-Extrabold";
    font-weight: 700;
	src: url("../../static/fonts/Panchang-Extrabold.woff") format("woff"),
	url("../../static/fonts/Panchang-Extrabold.woff2") format("woff2"),
}
@font-face {
	font-family: "Panchang-Bold";
    font-weight: 700;
	src: url("../../static/fonts/Panchang-Bold.woff") format("woff"),
	url("../../static/fonts/Panchang-Bold.woff2") format("woff2"),
}
@font-face {
    font-family: "Panchang-Semibold";
    font-weight: 600;
	src: url("../../static/fonts/Panchang-Semibold.woff") format("woff"),
	url("../../static/fonts/Panchang-Semibold.woff2") format("woff2"),
}
@font-face {
    font-family: "Gelica-medium";
    font-weight: 500;
	src: url("../../static/fonts/Gelica-medium.woff") format("woff"),
	url("../../static/fonts/Gelica-medium.woff2") format("woff2"),
}

/** GUTTERS **/
