.battle {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    transform: translateY(100%);
    display: none;
    z-index: 11;
  }
  &-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-damage {
    position: absolute;
    top: 20%;
    left: 50%;
    @include stickerFont(40px,1.2,$white);
    text-shadow: 4px 4px 0 $purple_dark, 4px -4px 0 $purple_dark, -4px 4px 0 $purple_dark, -4px -4px 0 $purple_dark,
    4px 0px 0 $purple_dark, 0px 4px 0 $purple_dark, -4px 0px 0 $purple_dark, 0px -4px 0 $purple_dark;
    display: none;
    opacity: 0;
  }
  &-combo {
    position: absolute;
    top: 10%;
    left: 60%;
    display: none;
    opacity: 0;
  }
  &-comboMultiplicator{
    position: absolute;
    top: 15%;
    left: 60%;
    display: none;
    opacity: 0;
    @include stickerFont(40px,1.2,$white);
    text-shadow: 4px 4px 0 $purple_dark, 4px -4px 0 $purple_dark, -4px 4px 0 $purple_dark, -4px -4px 0 $purple_dark,
    4px 0px 0 $purple_dark, 0px 4px 0 $purple_dark, -4px 0px 0 $purple_dark, 0px -4px 0 $purple_dark;
  }
  &-damageOpponent {
    text-shadow: 4px 4px 0 $yellow, 4px -4px 0 $yellow, -4px 4px 0 $yellow, -4px -4px 0 $yellow,
    4px 0px 0 $yellow, 0px 4px 0 $yellow, -4px 0px 0 $yellow, 0px -4px 0 $yellow;
  }
}

.healthbar {

  display: flex;
  justify-content: center;
  align-items: center;

  &-img {
    width: 100px;
    height: 100px;
    z-index: 5;
    position: relative;
  }

  &-container {
    background-color: $white;
    border-radius: 8px;
    padding: 5px;
    width: 240px;
    height: 40px;
    position: relative;
    z-index: 2;

    .player  & {
      transform: rotate(2deg) translateX(15px);
      display: flex;
      justify-content: flex-end;
    }
    .opponent & {
      transform: rotate(-2deg) translateX(-15px);
      display: flex;
      justify-content: flex-start;
    }
  }

  &-gauge {
    width: 60%;
    height: 100%;
    position: relative;
    border-radius: 5px;

    .player & {
      background-color: $purple;//$yellow;
    }
    .opponent & {
      background-color:  $yellow;//$purple;
    }
  }

}

.responseContainer{
  display: flex;
  flex-direction: column-reverse;
  span {
    display: none;
    opacity: 0;
    border: 2px solid $purple;
    &:nth-child(1) {
      transform: rotate(2deg);
    }
    &:nth-child(2) {
      transform: rotate(-1deg);
    }
    &:nth-child(3) {
      transform: rotate(1deg);
    }
    &:nth-child(4) {
      transform: rotate(-1deg);
    }
    &:nth-child(5) {
      transform: rotate(2deg);
    }
    &:nth-child(6) {
      transform: rotate(-1deg);
    }
    &:nth-child(7) {
      transform: rotate(1deg);
    }
    &:nth-child(8) {
      transform: rotate(-1deg);
    }
  }
  &--opponent {
    span {
      border: 2px solid $yellow;
    }
  }
  &--global {
    .battleResponse {
      &--opponent {
        border: 2px solid $yellow;
      }
      &--player {
        border: 2px solid $purple;
      }
    }
  }
}

.battleResponse {
  padding: 1.5rem;
  background: white;
  border-radius: 2rem;
  font-size: 2rem;
  z-index: 1;
  max-width: 500px;
  //span {
  //  display: block;
  //}
}
