.hood {
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    background: rgb(179, 229, 255);
    background: linear-gradient(0deg, rgba(179, 229, 255, 1) 0%, rgba(46, 183, 255, 1) 100%);

    &-store {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
        background-color: $white;

        border-radius: 16px;
        padding: 70px 0 120px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }

    &-outfits {
        display: flex;

        width: 100%;
    }

    &-outfit {
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &--img {
            width: 184px;
            height: 262px;
        }

        &--button {
            // margin: 40px 0 0;
            position: absolute;
            left: 50%;
            bottom: -40px;
            transform: translate(-50%, 100%);

            &.disable {
                opacity: 0.5;
            }
        }

        .btn {
            span {
                color: $black;
            }

            &::before {
                background-color: $white;
            }
        }
    }

    &-popup {
        position: absolute;
        top: 50px;
        left: 50%;
        z-index: 100;
        transform: translateX(-50%);
        width: 1264px;
        max-width: 100%;
        display: flex;
        height: calc(100% - 100px);
        overflow-y: scroll;
        border-radius: 20px;
        &.false {
            opacity: 0;
            pointer-events: none;
        }
    }

    &-html {
        width: 100%;
        height: 2055px;
    }

    // #canvasGlobalScene {
    //     background:red;
    // }
}
